---
---
$section-headings-color: #7d2d02;

@import "{{ site.theme }}";
.page-header {
  color: transparent;
  text-align: center;
  background-color: transparent;
  background-image: url(../images/MiNiTu.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  
  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
