---
---
$section-headings-color: #bd4200;

@import "{{ site.theme }}";
.page-header {
  color: transparent;
  text-align: center;
  background-color: transparent;
  background-image: url(../images/MiNiTu-bn-text-large.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

/* try to add fellows-header class */
.fellows-header {
  color: #333;
  text-align: center;
  background-color: transparent;
  /*background-image: url(../images/ellis-logo-black-main.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
  /* see if it helps with mobile devices */
  @media (max-width: 480px){
    .logo img {
        width: 100%;
        height: 100%;
    }
  }
}

/* see if it helps with mobile devices */
@media (max-width: 480px){
  .logo img {
      width: 100%;
      height: 100%;
  }
}

/* logo header class */
.logo-header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.logo-header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

/* Responsive hamburger topnav */
/*
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
*/

.topnav {
  overflow: hidden;
  background-color: #333;
  /* added position */ 
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #111;
  color: white;
}

.topnav a.active {
  background-color: #6c9cdb; /* ellis last letter blue */
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  /*.topnav.responsive {position: relative;}*/
  .topnav.responsive {position: -webkit-sticky; position: sticky; top: 0; z-index: 1000;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* end responsive hamburger */

/* added by me to try to customize the navigation bar */
ul {
  /* fixed-top */
  position: fixed;
  top: 0;
  width: 100%;
  /* end fixed-top */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* highlight wiht color the selected section */
.active {
  background-color: #4CAF50;
}
