<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <!-- Added for responsive topnav -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    
    <!--
    <ul>
      <li><a href="https://ellisqphml.github.io/#ellis-qphml-2020">QPhML2020</a></li>
      <li><a href="#fellowsprogram">Program</a></li>
      <li><a href="#fellows">Fellows</a></li>
      <li><a href="#events">Events</a></li>
    </ul>
    -->
    
    <!-- responsive topnav -->
    <div class="topnav" id="myTopnav">
      <!--
      <a href="#home" class="active">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      -->
      <a href="https://ellisqphml.github.io/qphml2020">QPhML2020</a>
      <a href="#fellowsprogram">Program</a>
      <a href="#fellows">Fellows</a>
      <a href="#events">Events</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
      </a>
    </div>

    <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>   

    <header class="fellows-header" role="banner">  
      <h1 class="project-name">Ellis Fellows Program Quantum and Physics based Machine Learning (QPhML)</h1>
      <img src="../assets/images/ellis-logo-square.png" alt="Ellis Logo" />
    </header>
    
    <!--
    <div class="logo-header" role="banner">  
      <h1>Ellis Fellows Program Quantum and Physics based machine learning (QPhML)</h1>
      <img src="../assets/images/ellis-logo-square.png" alt="Ellis Logo" />        
    </div>
    -->

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">The Ellis QPhML fellows program is part of the Ellis initiative. Learn more at <a href="https://ellis.eu">https://ellis.eu/</a>.</span>
      </footer>
    </main>
  </body>
</html>
